<div id='game'>

<h1>Good Luck, <%=session[:player_name]%>!</h1>

<p>The top of row of cards are your cards. The second row of cards are the dealer's.</p>
<p>Use the "Hit" and "Stay" buttons beneath your cards to play.</p>
<p>Once you have Stayed, you will be able to see the dealer's moves.</p>
<br>

<% if @play_again %>
<p>
	<strong>Want to play again?</strong>
	<a href="/bet" class="btn btn-primary">Yes</a>
	<a href="/game_over" class="btn">No</a>
</p>
<% end %>

<br>
<div class="well">
  <div class="container">
    <%if @loser %>
      <div class="alert alert-error"><%=@loser%></div>
    <% end %>
    <%if @winner %>
     <div class="alert alert-success"><%=@winner%></div>
    <% end %>
  </div>
<p>
	<h4><%= session[:player_name] %>'s Cards:</h4>
<br>


	<% session[:player_cards].each do |card| %>
		<%= card_image(card) %>
	<% end %>


<h4>Your total is: <%= calculate_total(session[:player_cards]) %></h4>
<% if @show_hit_or_stay == true || @show_dealer_hit == true  %>
  <p>You have $<%= session[:player_bet] %> bet on this hand.</p>
  <p>If you lose you will have $<%= session[:player_pot].to_i - session[:player_bet].to_i %> left.</p>
  <p>But if you WIN you will have $<%= session[:player_pot].to_i + session[:player_bet].to_i %>!</p>
<% else %>
  <p>You now have $<%= session[:player_pot].to_i %>.</p>
<% end %>
<p>

<%if @show_hit_or_stay %>
What would you like to do?
<form id="hit_form" action="/game/player/hit" method='post'>
  <input type="submit" class="btn btn-success" value="hit" />
</form>
<form id="stay_form" action="/game/player/stay" method='post'>
  <input type="submit" class="btn btn-danger" value="stay" />
</form>
<% end %>
</p>
<br>
</div>

<div class="well">
  <h4>The Dealer's Cards</h4>
  <% session[:dealer_cards].each_with_index do |card, i| %>
    <% if session[:turn] != "dealer" && i == 0 %>
      <img src='/images/cards/cover.jpg' class='card_image'>
    <% else %>
      <%= card_image(card) %>
    <% end %>
  <% end %>

  <% if @show_dealer_hit == true %>
  <h5>The Dealer has <%= calculate_total(session[:dealer_cards]) %> and will hit. </h5>
  <p>
    <form id="dealer_hit" action="/game/dealer/hit" method='post'>
    <input type="submit" class="btn btn-primary" value="Show Dealer's Move" />
    </form>
  </p>
  <% end %>

</div>
</div>
